<h2>Which show was it...and how good was it?</h2>
<%= form_for @appearance do |f| %>
  <%= f.label "Episode" %>
  <%= f.collection_select :episode_id, @episodes, :date, :id   %>
  <%= f.label "Rating" %>
  <%= f.select :rating, [['horrible', 1], ['poor', 2], ['mediocre', 3], ['good', 4], ['great', 5]] %>
  <%= f.label "Guest" %>
  <%= f.text_field :guest_id %>
  <%= f.submit %>
<% end %>
